<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/ljsa</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456789</property>
    <property name="hibernate.hbm2ddl.auto">update/create_drop/validate/create</property>
<!--    <property name="hibernate.show_sql">true</property>-->
      <!--  connection.fullsize
            mysql.dialect
            cache provider
            
-->

    <mapping class="com.manasseh.ljsa.model.MatiereEntity"/>
    <mapping class="com.manasseh.ljsa.model.EtudiantsEntity"/>
    <mapping class="com.manasseh.ljsa.model.ProfsEntity"/>
    <mapping class="com.manasseh.ljsa.model.ClasseEntity"/>
    <mapping class="com.manasseh.ljsa.model.SecondeEntity"/>
    <mapping class="com.manasseh.ljsa.model.PremiereEntity"/>
<!--    <mapping class="com.manasseh.ljsa.model.TerminaleEntity"/>-->

    <!-- DB schema will be updated if needed -->
  </session-factory>
</hibernate-configuration>
